html {background-color: #D35400}

body {
	background-color: black;
	display: block;
	border-radius: 10px 10px 10px 10px;
	margin: auto;
}

#menu, #menu ul {
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
}

#menu li {
	display: inline-block;
	position: relative;
	border-radius: 10px 10px 0 0;
}

#menu ul li {
	display: inherit;
	border-radius: 0;
}

#menu ul li:hover {border-radius: 0;}

#menu ul li:last-child {border-radius: 0 0 10px 10px;}

#menu ul{
	position:absolute;
	z-index: 1000;
	max-height: 0;
	left: 0;
	right: 0;
	overflow:hidden;
	transition: .6s all .2s;
}

#menu li:hover ul {max-height: 15em;}

#menu li:first-child {
	background-color: #65537A;
	background-image: linear-gradient(top, #65537A 0%, #2A2333 100%);
	background-image: linear-gradient(to bottom, #65537A 0%, #2A2333 100%);
}
#menu li:nth-child(2) {
	background-color: #729EBF;
	background-image: linear-gradient(top, #729EBF 0%, #333A40 100%);
	background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
}
#menu li:nth-child(3) {
	background-color: #F6AD1A;
	background-image: linear-gradient(top, #F6AD1A 0%, #9F391A 100%);
	background-image: linear-gradient(to bottom, #F6AD1A 0%, #9F391A 100%);
}
#menu li:last-child {
	background-color: #CFFF6A;
	background-image: linear-gradient(top, #CFFF6A 0%, #677F35 100%);
	background-image: linear-gradient(to bottom, #CFFF6A 0%, #677F35 100%);
}

#menu li:first-child li {background:#2A2333;}

#menu li:nth-child(2) li {background:#333A40;}

#menu li:nth-child(3) li {background:#9F391A;}

#menu li:last-child li {background:#677F35;}

#menu li:first-child:hover, #menu li:first-child li:hover {background:#65537A;}

#menu li:nth-child(2):hover, #menu li:nth-child(2) li:hover {background:#729EBF;i}

#menu li:nth-child(3):hover, #menu li:nth-child(3) li:hover {background:#F6AD1A;}

#menu li:last-child:hover, #menu li:last-child li:hover {background:#CFFF6A;}

#menu a {
	text-decoration: none;
	display: block;
	padding: 10px 58px;
	color: #fff;
	font-family: arial;
}

#menu ul a {padding:8px 0;}

#menu li:hover li a {
	color:#fff;
	text-transform:inherit;
}

#menu li:hover a, #menu li li:hover a {color:#000;}
